<form [formGroup]="sellForm" (submit)="Sell()">
  <!-- Formular -->
  <label for="options">Wähle eine Aktie:</label>
  <!-- label = dropdown-menue -->
  <select formControlName="symbol" class="form-control mx-auto w-auto">
    <option value="" disabled selected="">Symbol</option>
    @for (symbol of symbole; track $index) {
    <option value="{{ symbol }}">{{ symbol }}</option>
    }
  </select>

  @if (sellForm.controls['symbol'].dirty || sellForm.controls['symbol'].touched)
  { @if (sellForm.controls['symbol'].errors?.['required']){
  <p class="error">Bitte Symbol auswählen.</p>
  } }

  <div class="mb-3">
    <input
      autocomplete="off"
      class="form-control mx-auto w-auto"
      min="1"
      formControlName="anzahl"
      placeholder="Anzahl"
      type="number"
    />
  </div>

  @if (sellForm.controls['symbol'].dirty || sellForm.controls['symbol'].touched)
  { @if (sellForm.controls['symbol'].errors?.['required']){
  <p class="error">Bitte Symbol eingeben.</p>
  } }

  <div class="mb-3">
    <button [disabled]="!sellForm.valid" class="buttonSell" type="submit">
      Sell
    </button>
  </div>
</form>
<!--Fehlermeldung-->
@if (fehler) {
<div class="shadow-sm p-3 mb-5 mt-10 bg-body-tertiary rounded">
  {{ fehler }}
</div>
}
