.buttonQuote {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #d5a3cd;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .buttonQuote:not(:disabled):hover {
    background-color: #c075b5;
  }
  
  .buttonQuote:not(:disabled):active {
    background-color: #a12f90;
    box-shadow: 0 4px #5863625b;
    transform: translateY(4px);
  }

  .buttonQuote:disabled {
    background-color: #c2c2c2;
    cursor: not-allowed;
  }
  
  