<h2>History</h2>
<table class="table">
  <thead>
    <tr>
      <th class="text-start">Zeitpunkt</th>
      <th class="text-start">Symbol</th>
      <th class="text-start">Name</th>
      <th class="text-end">Anzahl</th>
      <th class="text-end">Preis</th>
      <th class="text-end">Gesamtwert</th>
      <th class="text-end">Kauf/Verkauf</th>
    </tr>
  </thead>
  <tbody>
    <!-- Loop through the database entries to display them in this table -->
    @for (transaction of history; track $index){
    <tr>
      <td class="text-start">{{ transaction["datumZeitIso"] }}</td>
      <td class="text-start">{{ transaction["symbol"] }}</td>
      <td class="text-start">{{ transaction["name"] }}</td>
      <td class="text-end">{{ transaction["anzahl"] }}</td>
      <td class="text-end">{{ transaction["preis"] | usdCurrency }}</td>
      <td class="text-end">{{ transaction["gesamtpreis"] | usdCurrency }}</td>
      <td class="text-end">
        {{ transaction["anzahl"] > 0 ? "Kauf" : "Verkauf" }}
      </td>
    </tr>
    }
  </tbody>
</table>
