<h2>History</h2>
<table class="table">
    <thead>
        <tr>
            <th>Zeitpunkt</th>
            <th>Symbol</th>
            <th>Name</th>            
            <th>Anzahl</th>
            <th>Preis</th>
            <th>Gesamtwert</th>
            <th>Kauf/Verkauf</th>
        </tr>
    </thead>
    <tbody>
        <!-- Loop through the database entries to display them in this table -->
        @for (transaction of history; track $index){
        <tr>
            <td>{{ transaction['datumZeitIso'] }}</td>
            <td>{{ transaction['symbol'] }}</td>
            <td>{{ transaction['name'] }}</td>
            <td>{{ transaction['anzahl'] }}</td>
            <td>{{ transaction['preis'] }}</td>
            <td>{{ transaction['gesamtpreis'] }}</td>
            <td>{{ transaction['anzahl']>0? "Kauf":"Verkauf" }}</td>
        </tr>
        }
    </tbody>
</table>