<h2>Depotbestand</h2>
@if (portfolio) {
<table class="table">
  <thead>
    <tr>
      <th class="text-start"></th>
      <th class="text-start">Trade</th>
      <th class="text-start"></th>
      <th class="text-start">Symbol</th>
      <th class="text-start">Name</th>
      <th class="text-end">Bestand</th>
      <th class="text-end">Preis</th>
      <th class="text-end">Gesamtwert</th>
    </tr>
  </thead>
  <tbody>
    <!-- TODO: Loop through the database entries to display them in this table -->
    @for (transaction of portfolio; track $index){
    <tr>
      <td class="text-start">
        <input
          hidden
          value="{{ transaction['symbol'] }}"
          autocomplete="off"
          autofocus
          class="form-control mx-auto w-auto"
          name="symbol"
          placeholder="Symbol"
          type="text"
        />
        <button class="btn btn-sm btn-outline-danger">buy</button>
      </td>

      <td class="text-start">
        <input
          autocomplete="off"
          class="form-control mx-auto input-sm"
          name="shares"
          type="text"
          [(value)]="transaction['anzahl']"
          (blur)="Test()"
        />
      </td>

      <td class="text-start">
        <button
          formaction="/sell"
          class="btn btn-sm btn-outline-info"
          type="submit"
        >
          sell
        </button>
      </td>

      <td class="text-start">{{ transaction["symbol"] }}</td>
      <td class="text-start">{{ transaction["name"] }}</td>
      <td class="text-end">{{ transaction["anzahl"] }}</td>
      <td class="text-end">{{ transaction["preis"] }}</td>
      <td class="text-end">
        {{ transaction["preis"] * transaction["anzahl"] }}
      </td>
    </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td class="border-0 fw-bold text-end" colspan="3">Bargeld</td>
      <td class="border-0 text-end">{{ bargeld }}</td>
    </tr>
    <tr>
      <td class="border-0 fw-bold text-end" colspan="3">Gesamtbetrag</td>
      <td class="border-0 w-bold text-end">{{ gesamtbetrag }}</td>
    </tr>
  </tfoot>
</table>
}

<!-- select symbol, sum (shares) as shares from history where users_id=***eingeloggter user*** group by symbol; macht Tabelle mit Symbol und Summe Anzahl Aktien (total)-->
