<form [formGroup]="registerForm" (submit)="Register()">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" formControlName="benutzername"
            placeholder="Benutzername" type="text">
        @if (registerForm.controls['benutzername'].dirty || registerForm.controls['benutzername'].touched) {
        @if (registerForm.controls['benutzername'].errors?.['required']){
        <p class="error">Bitte Benutzername eingeben.</p>
        }
        @if (registerForm.controls['benutzername'].errors?.['minlength']){
        <p class="error">Bitte mindestens 5 Zeichen eingeben.</p>
        }
        }
    </div> 
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" formControlName="passwort" placeholder="Passwort" type="password">
        @if (registerForm.controls['passwort'].dirty || registerForm.controls['passwort'].touched) {
        @if (registerForm.controls['passwort'].errors?.['required']){
        <p class="error">Bitte Passwort eingeben.</p>
        }
        }

    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirmation" formControlName="confirmation"
            placeholder="Bestaetigung" type="password">
        @if (registerForm.controls['confirmation'].dirty || registerForm.controls['confirmation'].touched) {
        @if (registerForm.controls['confirmation'].errors?.['required']){
        <p class="error">Bitte Passwort wiederholen.</p>
        }
        }
    </div>
    <button [disabled]="!registerForm.valid" class="btn btn-primary" type="submit">Register</button>
    @if (registrierungsFehler){
    <div class="shadow-sm p-3 mb-5 mt-10 bg-body-tertiary rounded">Registrierung hat nicht geklappt</div>
    }
</form>